.footer {
  background-color: #65cc65;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 20px;
}
.footer a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}
