/* Estilos del Footer */
.footer {
  background-color: #5bc85b;
  padding: 10px;
  color: white;
  text-align: center;
}

/* Estilos del Footer */
.footer {
  background-color: #5bc85b;
  padding: 10px;
  color: white;
  text-align: center;
}

/* Estilos del Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5bc85b;
  color: white;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
}

.nombresHeader {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
}

.nombresHeader h2, .nombresHeader h1 {
  margin: 0;
  font-size: 1.2em;
  white-space: nowrap;
}

.header h1 {
  font-size: 1.2em;
  margin: 0;
}

/* Aplicando el modelo de cajas busco patrones para ordenar el body */
/* Ajustamos el contenido de la pagina */
/* Podemos definir el body en su conjunto como un modelo de 3 cajas */
.contenidoPagina {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 10px;
}

/* Ajustamos el contenido del texto principal*/
.textoPrincipal {
  font-family: Roboto, sans-serif;
  padding: 10px;
  width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*margen entre parrafos*/
.textoPrincipal p {
  margin: 0 auto;

}

/*menu izquierdo*/
.menuIzq {
  width: 20%;
  background-color: #f3f3f3;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: block;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  border: 3px solid black;
  text-align: center;
  transition: background-color 0.3s ease;
  position: relative;
  font-family: Calibri, sans-serif;

}

/* Ajustamos el color negro a todos los atributos que tengan a en la clase menu.item*/
/* Hacemos que sea clickeable en toda su tarjeta ajustando la posicion absoluta en el atributo a de la clase menu.item. Luego ajustaremos position relative en la clase menu.item general */
/* Ajustamos el inset al valor 0 para evitar que el contenido se desorganice */
.menu-item a {
  color: black;
  text-decoration: none;
  position: absolute;
  inset: 0;

}


/* ponemos dos puntos en el menu.item hover para que se resalte si pones el mouse encima */
.menu-item:hover {
  background-color: gray;
  color: black;
}

/* la id q es la # le añadimos el hover para que si ponemos el mouse encima el background cambie*/
#otros:hover {
  background-color: #d3c5c5;
}

#otros {
  background-color: red;
}

/*-------------------------------------------------------------------------------------------------------*/
